<div class="element-bg-img">
  <img *ngIf="getSelectedRecreation(); else wallpaper" src="{{getSelectedRecreation().img1}}" alt="" class="img-responsive">

  <ng-template #wallpaper>
      <img src="assets/images/default.jpg" alt="">
  </ng-template>

</div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li><a (click)="toggleFilter('hotel')" [class.selected]="isFilterSelected('hotel')">Hotel</a></li>
      <li><a (click)="toggleFilter('fishing')" [class.selected]="isFilterSelected('fishing')">Fishing</a></li>
      <li><a (click)="toggleFilter('tours')" [class.selected]="isFilterSelected('tours')">Tours</a></li>
      <li class="anc-bor"><a (click)="toggleFilter('health')" [class.selected]="isFilterSelected('health')">Health</a>
      </li>

    </ul>
  </div>
  <div class="village">
    <h3>Righteous indignation & like</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2" *ngIf="recreations$ | async | recreationsFilter:filterList:applyFilterIndicator as recreations">
        <div *ngFor="let recreation of recreations">
          <app-recreation [recreation]=recreation (emitSelectedRecreation)="setSelectedRecreation =$event"></app-recreation>
        </div>

      </div>
    </div>
  </div>
</div>
